<div class="w-full aspect-16/4 flex justify-center items-center">
  <div class="flex flex-col justify-center items-center max-w-4xl w-full m-10 gap-8">
    <div class="flex gap-4"><p-tag severity="secondary">O Autoškole IMRICH</p-tag></div>
    <p class="font-bold lg:text-6xl text-4xl text-black/90 text-center dark:text-white">
      Vaša cesta k bezpečnej jazde
    </p>
    <p class="dark:text-white text-xl text-black/80 text-center">
      Už viac ako 15 rokov pomáhame študentom získať vodičský preukaz s dôverou a istotou. Naša
      autoškola je synonymom kvality, bezpečnosti a individuálneho prístupu.
    </p>
    <div class="flex gap-4 flex-wrap justify-center">
      <p-button size="large">Začať kurz</p-button>
      <p-button size="large" severity="secondary" variant="outlined">Kontaktovať nás</p-button>
    </div>
  </div>
</div>
