<div class="flex flex-col w-full items-center my-16 gap-15">
  <div class="p-6 w-fit bg-primary-500 rounded-full aspect-square flex items-center justify-center">
    <i class="pi pi-check-circle text-white! text-5xl!"></i>
  </div>
  <div class="flex flex-col items-center max-w-2xl gap-8 mx-10">
    <p class="text-5xl font-bold text-center">Ďakujeme za prihlásenie!</p>
    <p class="text-xl opacity-80 text-center">
      Vaša prihláška bola uspešne odoslaná. Naš tým ju spracuje a budeme vás kontaktovat do 48
      hodín.
    </p>
  </div>
  <div class="flex flex-col items-center gap-6">
    <p class="font-bold text-2xl">Čo bude nasledovat?</p>
    <div class="flex gap-6 flex-wrap justify-center">
      <div
        class="w-2xs gap-4 px-10 py-10 dark:bg-surface-900 bg-black/3 border-1 border-surface-600/20 p-4 rounded-lg flex flex-col items-center"
      >
        <div
          class="p-4 mb-2 bg-primary-500/20 aspect-square rounded-full flex items-center justify-center"
        >
          <p class="text-primary-500 font-bold text-xl">1</p>
        </div>
        <p>Potvrdenie</p>
        <p class="text-sm text-center opacity-80">
          Na váš email odosleme potvrdenie o prijatí prihlášky.
        </p>
      </div>

      <div
        class="w-2xs gap-4 px-10 py-10 dark:bg-surface-900 bg-black/3 border-1 border-surface-600/20 p-4 rounded-lg flex flex-col items-center"
      >
        <div
          class="p-4 mb-2 bg-primary-500/20 aspect-square rounded-full flex items-center justify-center"
        >
          <p class="text-primary-500 font-bold text-xl">2</p>
        </div>
        <p>Kontaktovanie</p>
        <p class="text-sm text-center opacity-80">
          Náš inštruktor vás bude kontaktovat pre dohodnutie detailov.
        </p>
      </div>

      <div
        class="w-2xs gap-4 px-10 py-10 dark:bg-surface-900 bg-black/3 border-1 border-surface-600/20 p-4 rounded-lg flex flex-col items-center"
      >
        <div
          class="p-4 mb-2 bg-primary-500/20 aspect-square rounded-full flex items-center justify-center"
        >
          <p class="text-primary-500 font-bold text-xl">3</p>
        </div>
        <p>Začiatok kurzu</p>
        <p class="text-sm text-center opacity-80">
          Po dohodnutí termínu začnete s teoretickou častou kurzu.
        </p>
      </div>
    </div>
    <p-button class="mt-4" iconPos="left" routerLink="/"
      ><i class="pi pi-arrow-left text-sm!"></i>
      <p class="text-sm">Spať na hlavnú stránku</p>
    </p-button>
  </div>
</div>
