<div class="w-full bg-primary flex justify-center items-center">
  <div class="flex flex-col justify-center items-center max-w-4xl w-full my-20 mx-10 gap-8">
    <p class="font-bold lg:text-5xl text-3xl text-black/90 text-center dark:text-white">
      Pripravení začať svoju cestu?
    </p>
    <p class="dark:text-white text-xl text-black/80 text-center">
      Kontaktujte nás ešte dnes a začnite svoju cestu k získaniu vodičského preukazu s najlepšou
      autoškolu v Košiciach.
    </p>
    <p-button routerLink="/contact" size="large" severity="secondary">Kontaktovať nás</p-button>
  </div>
</div>
