<div
  class="dark:bg-surface-900 bg-black/3 max-w-lg w-full min-w-md py-10 flex flex-col rounded-xl overflow-hidden justify-center items-center gap-8"
>
  <i class="pi pi-comment text-5xl! text-primary"></i>
  <div class="flex flex-col items-center justify-center gap-2 w-full px-10">
    <p class="text-lg font-semibold">Potrebujete rýchlu odpoveď?</p>
    <p>Zavolajte nám priamo a poradíme vám okamžite.</p>
    <div class="flex flex-col w-full px-12">
      <p-button fluid class="mt-4 w-full" severity="secondary">
        <div class="flex gap-6 items-center">
          <i class="pi pi-phone"></i>
          <p class="text-sm font-semibold">+421 905 817 962</p>
        </div>
      </p-button>
    </div>
  </div>
</div>
