<div
  class="dark:bg-surface-900 bg-black/3 rounded-xl py-10 overflow-hidden w-full flex-1 flex h-full gap-8 items-center justify-center flex-col"
>
  <i class="pi pi-comment hidden! sm:flex! text-5xl! text-primary"></i>
  <div class="flex flex-col items-center justify-center gap-2 w-full px-10">
    <p class="text-lg font-semibold">Potrebujete rýchlu odpoveď?</p>
    <p>Zavolajte nám priamo a poradíme vám okamžite.</p>
    <div class="flex flex-col w-full sm:px-12">
      <p-button fluid class="mt-4 w-full" severity="secondary">
        <div class="flex gap-6 items-center">
          <i class="hidden! sm:flex! pi pi-phone"></i>
          <p class="text-sm font-semibold">+421 905 817 962</p>
        </div>
      </p-button>
    </div>
  </div>
</div>
