<app-hero-simple
  [tag]="heroTag"
  [text]="heroText"
  [header]="heroHeader"
  [plags]="plags"
  [tagPill]="true"
  [background]="true"
  tagIcon="pi pi-verified"
  tagSeverity="success"
  class="flex flex-1 flex-col"
/>
<div class="mb-8">
  @for (category of courseCategories; track category) {
    <app-pricing-category
      [tag]="category.tag"
      [header]="category.header"
      [summary]="category.summary"
      [courses]="category.course"
      [coditionalRide]="category.conditionalRide"
      class="flex flex-1 flex-col"
    />
  }
</div>
<app-ready class="flex flex-1 flex-col" />
