<div
  class="w-full flex justify-center items-center"
  [class.hero-image]="background()"
  [class.aspect-16/3]="small()"
  [class.aspect-16/4]="!small()"
>
  <div class="flex flex-col justify-center items-center max-w-4xl w-full m-10 gap-8">
    <div class="flex gap-4">
      @if (tag(); as tag) {
        <p-tag [rounded]="tagPill()" [severity]="tagSeverity() ? tagSeverity() : 'secondary'">
          @if (tagIcon(); as tagIcon) {
            <i class="{{ tagIcon }} me-2"></i>
          }
          {{ tag }}</p-tag
        >
      }
    </div>
    <p
      [class.text-white]="background()"
      class="font-bold lg:text-6xl text-4xl text-black/90 text-center dark:text-white"
    >
      {{ header() }}
    </p>
    @if (text(); as text) {
      <p
        [class.text-white]="background()"
        class="dark:text-white text-xl text-black/80 text-center"
      >
        {{ text }}
      </p>
    }
    @if (buttons()?.length) {
      <div class="flex gap-4 flex-wrap justify-center">
        @for (button of buttons(); track button) {
          <p-button
            [variant]="button.variant"
            [severity]="button.severity ?? 'primary'"
            [routerLink]="button.route"
            (onClick)="button?.command()"
            size="large"
            >{{ button.label }}</p-button
          >
        }
      </div>
    }
    @if (plags()?.length) {
      <div class="flex gap-4 flex-wrap justify-center">
        @for (plag of plags(); track plag) {
          <p-tag [severity]="plag.severity">
            <div class="flex flex-col items-center p-4">
              <p class="font-normal">{{ plag.summary }}</p>
              <p>{{ plag.detail }}</p>
            </div>
          </p-tag>
        }
      </div>
    }
  </div>
</div>
